doctype html
html
  head
    title  Your Learning Website
    block style
    
  body
    
    nav#navbar
        ul  
          div.logosection
            img(src="../static/logo.png", alt="this is logo")
            h4 Learn With Me
          li #[a(href="/home") Home]
          
          
          li #[a(href="/contact") Contact]
    block content
    block foot
    footer#footer
        | © Copyright 2020 AnirudhAggarwal.com | All Right Reserved 
     

        