extends base.pug



block style
    style
        include ../static/style.css
block content

    section#content
        div Learn What You Want
        div.small Success Ahead!
    section.choice
        h1 Our Mission
        div.boxes
            div.box-choice
                img(src='../static/web.jpg')
                h1 Web development
               
                p Learn HTML,CSS,JAVASCRIPT,JS.NODE,PUG and Much More
             
            div.box-choice
                img(src='../static/python.jpg')
                h1 PYTHON
                p Learn basics of Python With Ease And Learn how to make projects and framework too
                     
            div.box-choice
                img(src='../static/c.jpg')
                h1 C++
                
                p Learn basics of C++ With Ease And Learn Concepts of Data structure and algorithms

  
